/* Basic Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ff9029;
  color: white;
}

.header-left {
  display: flex;
}

.header-right {
  display: flex;
  gap: 40px;
  text-align: right;
}

/* Main Layout */
.main-container {
  display: flex;
  flex: 1;
  background-color: #494747;
}

/* Columns */
.column {
  padding: 20px;
  background-color: #ddd;
}

.center {
  display: flex;
  justify-content: center;
}

.center-content {
  display: flex;
  flex-direction: row;
}

.text-box {
  padding: 20px;
  text-align: left;
  text-align: center;
  max-width: 400px;
}

.image-box img {
  max-width: 300px;
  width: 100%;
}
/* Widths */
.left {
  width: 12%;
  background-color: rgb(175, 175, 175);
}

.right {
  width: 12%;
  background-color: rgb(175, 175, 175);
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background-color: #ff9029;
  color: white;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 30px;
}
